{% extends 'base.html' %}
{% load static %}

    {% block content %}
     <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>About us</h2>
              <p>Home <span>-</span> About Us</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb stopt-->

    <section class="contact-section ">
        <div class="container">
            <svg viewBox="0 25 200 165" xmlns="http://www.w3.org/2000/svg">
                <path fill="#BAE6FF" d="M59.6,-43.6C75.3,-27.9,84.7,-3.2,77.3,13.2C70,29.6,46.1,37.7,24.4,46.6C2.7,55.5,-16.6,65.1,-29.9,59.6C-43.3,54.2,-50.6,33.7,-54.7,13.2C-58.8,-7.4,-59.8,-27.9,-50.2,-42.2C-40.5,-56.5,-20.3,-64.6,0.9,-65.3C22,-66,44,-59.3,59.6,-43.6Z" transform="translate(100 100)"  />
                <foreignObject x="20" y="60" width="180" height="130">
                    <p xmlns="http://www.w3.org/1999/xhtml">
                        Easy shopping :
                        Thanks to the clear online shop, you can quickly find the right product and do your shopping quickly, easily and conveniently.
                        
                        Wide assortment:
                        As a digital specialist retailer, we offer the largest range of professional tools, workshop equipment and consumables that are available online.
                        
                        Best quality for every budget:
                        We buy products in large quantities so that you benefit from fair prices – also thanks to our own brand that combines high quality with affordable prices.
                        
                        Personal advice from professionals:
                        You will receive individual support and advice at eye level. Knowledgeable, specialized advisors are at your side by email and phone.</p>
                  </foreignObject>
                
              </svg>

    
          
        </div>
      </section>



    {% endblock content %}
