{% extends 'base.html' %}
{% load static %}
    
    {% block content %}

     <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Shop Category</h2>
                            <p>Home <span>-</span> Shop Category</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!--================Category Product Area =================-->
    <section class="cat_product_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Browse Categories</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    {% for category in categories  %}
                                    <li>
                                        <a href="{% url 'hardware:categories_product' category.slug %}">{{category.title}}</a>
                                        <span>(250)</span>
                                    </li>
                                    {% endfor %}
                                   
                                       
                                </ul>
                            </div>
                        </aside>

                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Product filters</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="#">Everest</a>
                                    </li>
                                    <li>
                                        <a href="#">TATA Steel</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Ambuja</a>
                                    </li>
                                    <li>
                                        <a href="#">Ultratech</a>
                                    </li>
                                    <li>
                                        <a href="#">Bosch</a>
                                    </li>
                                </ul>
                                <ul class="list">
                                    <li>
                                        <a href="#">Jsw steel</a>
                                    </li>
                                    <li>
                                        <a href="#">ramco</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Metcon</a>
                                    </li>
                                    <li>
                                        <a href="#">Kirali</a>
                                    </li>
                                    <li>
                                        <a href="#">Kalliyath</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>

                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Size Filter</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="#">8inch</a>
                                    </li>
                                    <li>
                                        <a href="#">10 inch</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">12 inch</a>
                                    </li>
                                    <li>
                                        <a href="#">6 inch</a>
                                    </li>
                                    <li>
                                        <a href="#">16inch</a>
                                    </li>
                                    <li>
                                        <a href="#">32 inch</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>

                        <aside class="left_widgets p_filter_widgets price_rangs_aside">
                            <div class="l_w_title">
                                <h3>Price Filter</h3>
                            </div>
                            <div class="widgets_inner">
                                <div class="range_item">
                                    <!-- <div id="slider-range"></div> -->
                                    <input type="text" class="js-range-slider" value="" />
                                    <div class="d-flex">
                                        <div class="price_text">
                                            <p>Price :</p>
                                        </div>
                                        <div class="price_value d-flex justify-content-center">
                                            <input type="text" class="js-input-from" id="amount" readonly />
                                            <span>to</span>
                                            <input type="text" class="js-input-to" id="amount" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product_top_bar d-flex justify-content-between align-items-center">
                                <div class="single_product_menu">
                                    <p><span>10000 </span> Product Found</p>
                                </div>
                                <div class="single_product_menu d-flex">
                                    <h5>short by : </h5>
                                    <select>
                                        <option data-display="Select">name</option>
                                        <option value="1">price</option>
                                        <option value="2">product</option>
                                    </select>
                                </div>
                                <div class="single_product_menu d-flex">
                                    <h5>show :</h5>
                                    <div class="top_pageniation">
                                        <ul>
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="single_product_menu d-flex">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="search"
                                            aria-describedby="inputGroupPrepend">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend"><i
                                                    class="ti-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center latest_product_inner">
                       
                        <div class="col-lg-4 col-sm-6">
                            <div class="single_product_item">
                                <img src="{% static 'img/cuttingwhl.jpeg' %}" alt="">
                                <div class="single_product_text">
                                    <h4>cuttingwhl</h4>
                                    <h3>Rs. 50</h3>
                                    <a href="#" class="add_cart">+ View details<i class="ti-heart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single_product_item">
                                <img src="{% static 'img/Hollowbrick.jpeg' %}" alt="">
                                <div class="single_product_text">
                                    <h4>Hollow Bricks</h4>
                                    <h3>RS.150.00</h3>
                                    <a href="#" class="add_cart">+ View details <i class="ti-heart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single_product_item">
                                <img src="{% static 'img/mild_iron_wire.jpeg' %}" alt="">
                                <div class="single_product_text">
                                    <h4>Iron Wire</h4>
                                    <h3>RS.150.00</h3>
                                    <a href="#" class="add_cart">+ View details<i class="ti-heart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single_product_item">
                                <img src="{% static 'img/Red-Brick.jpeg' %}" alt="">
                                <div class="single_product_text">
                                    <h4>Brick Red</h4>
                                    <h3>RS.150.00</h3>
                                    <a href="#" class="add_cart">+ View details<i class="ti-heart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single_product_item">
                                <img src="{% static 'img/ambuja.jpeg' %}" alt="">
                                <div class="single_product_text">
                                    <h4>Ambuja cement</h4>
                                    <h3>RS.150.00</h3>
                                    <a href="#" class="add_cart">+ View details<i class="ti-heart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single_product_item">
                                <img src="{% static 'img/asbetoes_everest.jpeg' %}" alt="">
                                <div class="single_product_text">
                                    <h4>Asbetoes Sheet Everest</h4>
                                    <h3>RS.150.00</h3>
                                    <a href="#" class="add_cart">+ View details<i class="ti-heart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single_product_item">
                                <img src="{% static 'img/1.5gi pipe round_tatasteel.jpeg' %}" alt="">
                                <div class="single_product_text">
                                    <h4>Tatasteel Round Pipe</h4>
                                    <h3>RS.150.00</h3>
                                    <a href="#" class="add_cart">+ View details<i class="ti-heart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single_product_item">
                                <img src="{% static 'img/asbetos_ramco.jpeg' %}" alt="">
                                <div class="single_product_text">
                                    <h4>Asbetoes Sheet</h4>
                                    <h3>RS.150.00</h3>
                                    <a href="#" class="add_cart">+ View details<i class="ti-heart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single_product_item">
                                <img src="{% static 'img/32mmTMT.jpeg' %}" alt="">
                                <div class="single_product_text">
                                    <h4>Kirali TMT 8mm</h4>
                                    <h3>RS.150.00</h3>
                                    <a href="#" class="add_cart">+ View details<i class="ti-heart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="pageination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <i class="ti-angle-double-left"></i>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <i class="ti-angle-double-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Category Product Area =================-->

    <!-- product_list part start-->
    <section class="product_list best_seller">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>Best Sellers <span>shop</span></h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-12">
                    <div class="best_product_slider owl-carousel">
                        <div class="single_product_item">
                            <img src="{% static 'img/32mmTMT.jpeg' %}" alt="">
                            <div class="single_product_text">
                                <h4>TMT 16mm</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="{% static 'img/ultratech.jpeg' %}" alt="">
                            <div class="single_product_text">
                                <h4>Ultratech cement</h4>
                                <h3>$150.00</h3>
                            </div>
                            
                        </div>
                        <div class="single_product_item">
                            <img src="{% static 'img/sqpipe_jsw steel.jpeg' %}" alt="">
                            <div class="single_product_text">
                                <h4>Square Pipe</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="{% static 'img/angletmt.jpeg' %}" alt="">
                            <div class="single_product_text">
                                <h4>Angle TMT</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="{% static 'img/Brick-white.jpeg' %}" alt="">
                            <div class="single_product_text">
                                <h4>Bricks</h4>
                                <h3>$150.00</h3>
                            </div>
                          
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product_list part end-->


    {% endblock content %}